.multiselect-container {
	width: 200px;

	* {
		box-sizing: border-box;
	}

	.multiselect-header {
		width: 100%;
		margin-bottom: 6px;
	}

	.multiselect-wrapper {
		position: relative;
		width: 100%;
		height: 32px;
		border: 1px solid red;
		display: flex;
		align-items: center;
		padding: 0 8px;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			right: 12px;
			top: 8px;
			border-right: 2px solid black;
			border-top: 2px solid black;
			transform: rotate(135deg);
			transform-origin: center center;
			transition: all 0.2s ease-in-out;
		}

		.selected-value {
			padding-right: 30px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		.options-wrapper {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			max-height: 300px;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.1);
			border: 1px solid grey;
			display: none;
			flex-direction: column;
		}

		.option {
			&:hover {
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.1);
			}
		}

		.option-text {
			display: none;
			padding: 6px 12px;
		}

		.checkbox-wrapper {
			display: flex;
			align-items: center;
			min-height: 19px;
			position: relative;
			padding: 6px 12px 6px 36px;
			cursor: pointer;
			user-select: none;

			.checkbox-checkmark {
				position: absolute;
				top: 6px;
				left: 6px;
				height: 19px;
				width: 19px;
				background-color: #eee;
				border-radius: 4px;
				border: 1px solid #000;

				&:after {
					content: '';
					position: absolute;
					display: none;
					left: 6px;
					top: 2px;
					width: 4px;
					height: 8px;
					border: solid white;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg);
				}
			}

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;

				&:checked ~ .checkbox-checkmark {
					background-color: #2196F3;
				}

				&:checked ~ .checkbox-checkmark:after {
					display: block;
				}
			}
		}

		&.single-select {
			.checkbox-wrapper {
				display: none;
			}

			.option-text {
				display: block;

				&.selected {
					background-color: #2196F3;
				}
			}
		}

		&.opened {
			&:after {
				top: 12px;
				transform: rotate(315deg);
			}

			.options-wrapper {
				display: flex;
			}
		}
	}
}

